<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        .error {
            color: red;
        }
        .success {
            color: greenyellow;
        }
        .warning {
            color: orange;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category, message in messages %}
                <li class="{{category}}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endwith %}
    {% block body %}
        <!--all other templates plug in here-->
    {% endblock %}
</body>
</html>